[submodule "backend-core"]
	path = backend-core
	url = git@makerforce.io:beep/backend-core.git
[submodule "backend-store"]
	path = backend-store
	url = git@makerforce.io:beep/backend-store.git
[submodule "backend-transcription"]
	path = backend-transcription
	url = git@makerforce.io:beep/backend-transcription.git
[submodule "backend-login"]
	path = backend-login
	url = git@makerforce.io:beep/backend-login.git
[submodule "backend-heartbeat"]
	path = backend-heartbeat
	url = git@makerforce.io:beep/backend-heartbeat.git
[submodule "backend-auth"]
	path = backend-auth
	url = git@makerforce.io:beep/backend-auth.git
[submodule "backend-pictures"]
	path = backend-pictures
	url = git@makerforce.io:beep/backend-pictures.git
[submodule "backend-permissions"]
	path = backend-permissions
	url = git@makerforce.io:beep/backend-permissions.git
[submodule "backend-webrtc"]
	path = backend-webrtc
	url = git@makerforce.io:beep/backend-webrtc.git
